<form #movingDetail="ngForm" class="container p-3 m-auto">
    <h4 class="mt-2 mb-3 text-center">PERSONALISED MOVING QUOTE:-</h4>
    <div class="form-group">
        <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker" [min]="minDate" placeholder="mm/dd/yyyy" name="userdate" #userdate="ngModel" ngModel required>
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker disabled="false" touchUi="true"></mat-datepicker>
        </mat-form-field>
        <p *ngIf="!userdate.valid && userdate.touched">
            <span class="has-error" *ngIf="userdate.errors?.required">Date can not be empty</span>
        </p>
    </div>
    <div class="row no-gutters justify-content-around">
        <div class="col-sm-5">
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="From Location" name="fromLocation" #fromLocation="ngModel" ngModel required>
                </mat-form-field>
                <p *ngIf="!fromLocation.valid && fromLocation.touched">
                    <span class="has-error" *ngIf="fromLocation.errors?.required">Please enter From Location</span>
                </p>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Drop Location" name="dropLocation" #dropLocation="ngModel" ngModel required>
                </mat-form-field>
                <p *ngIf="!dropLocation.valid && dropLocation.touched">
                    <span class="has-error" *ngIf="dropLocation.errors?.required">Please enter Drop Location</span>
                </p>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Pick up Floor" name="pickupFloor" #pickupFloor="ngModel" ngModel required>
                </mat-form-field>
                <p *ngIf="!pickupFloor.valid && pickupFloor.touched">
                    <span class="has-error" *ngIf="pickupFloor.errors?.required">Please enter Pick Up Floor</span>
                </p>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="form-group">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Drop Floor" name="dropFloor" #dropFloor="ngModel" ngModel required>
                </mat-form-field>
                <p *ngIf="!dropFloor.valid && dropFloor.touched">
                    <span class="has-error" *ngIf="dropFloor.errors?.required">Please enter Drop Floor</span>
                </p>
            </div>
        </div>
        <div class="col-sm-5 mt-2">
            <div class="form-group">
                <mat-checkbox name="pickupLocation" value="yes" #pickupLocation="ngModel" ngModel>Elevator at Pickup Location</mat-checkbox>
            </div>
        </div>
        <div class="col-sm-5 mt-2">
            <div class="form-group">
                <mat-checkbox name="dropLocation" #dropLocation="ngModel" ngModel>Elevator at Drop Location</mat-checkbox>
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-around align-items-center mt-3">
        <div class="col-sm-1">
            <div class="form-group">
                Services
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <mat-form-field>
                    <mat-select placeholder="Domestic Relocation" name="relocation" #relocation="ngModel" ngModel required>
                        <mat-option value="International Relocation">
                            International Relocation
                        </mat-option>
                        <mat-option value="Corporate Relocation">
                            Corporate Relocation
                        </mat-option>
                        <mat-option value="Office Relocation">
                            Office Relocation
                        </mat-option>
                        <mat-option value="Car Transportation">
                            Car Transportation
                        </mat-option>
                        <mat-option value="Warehouse and Storage">
                            Warehouse and Storage
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p *ngIf="!relocation.valid && relocation.touched">
                    <span class="has-error" *ngIf="relocation.errors?.required">Please select Relocation</span>
                </p>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="form-group">
                <mat-form-field>
                    <mat-select placeholder="Enter BHK" name="bhk" #bhk="ngModel" ngModel required>
                        <mat-option value="1 bhk">
                            1 BHK
                        </mat-option>
                        <mat-option value="2 bhk">
                            2 BHK
                        </mat-option>
                        <mat-option value="3 bhk">
                            3 BHK
                        </mat-option>
                        <mat-option value="4 bhk">
                            4 BHK
                        </mat-option>
                        <mat-option value="5 bhk">
                            5 BHK
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p *ngIf="!bhk.valid && bhk.touched">
                    <span class="has-error" *ngIf="bhk.errors?.required">Please select bhk</span>
                </p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <button mat-raised-button color="accent" (click)="saveTempData(movingDetail)" [disabled]="!movingDetail.valid">Next</button>
            </div>
        </div>



    </div>
</form>