<div class="container">
    <!-- <div class="row align-items-center">
        <div class="col text-center">
            <h1 class="mt-3 mb-3">Your Cart is empty</h1>
            <p>Add Articles</p>
        </div>
    </div> -->
    <div class="mt-5">
        <div class="row">
            <div class="col-md-8 border-right">
                <div class="row mr-2 no-gutters mb-4">
                    <div class="col-md-12">
                        <h3 class="float-left ml-15-minus">Total Articles : </h3>
                        <h3 class="float-right">5</h3>
                    </div>
                </div>


                <div class="row cart-border-full mr-2 mb-4 align-items-center pt-3 pb-3">
                    <div class="col-md-3 text-center">
                        <i class="icon-delivery-truck-with-circular-clock cart-icon"></i>
                    </div>
                    <div class="col-md-4">
                        <h4>2 DOOR</h4>
                        <p class="sub-text">Living room</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <app-update-product-count></app-update-product-count>
                    </div>
                    <div class="col-md-2">
                        <button class="float-right" mat-raised-button color="accent">REMOVE</button>
                    </div>
                </div>

                <div class="row cart-border-full mr-2 mb-4 align-items-center pt-3 pb-3">
                    <div class="col-md-3 text-center">
                        <i class="icon-delivery-truck-with-circular-clock cart-icon"></i>
                    </div>
                    <div class="col-md-4">
                        <h4>2 DOOR</h4>
                        <p class="sub-text">Living room</p>
                    </div>
                    <div class="col-md-3 text-center">
                        <app-update-product-count></app-update-product-count>
                    </div>
                    <div class="col-md-2">
                        <button class="float-right" mat-raised-button color="accent">X</button>
                    </div>
                </div>



            </div>
            <div class="col-md-4 text-center">
                <h5 class="mb-3">Details:-</h5>
                <p class="dash"></p>
                <div class="row align-items-center">
                    <div class="col-12 mb-3">
                        <p class="d-inline-block float-left">Living Room</p>
                        <p class="d-inline-block float-right">1</p>
                    </div>
                    <div class="col-12 mb-3">
                        <p class="d-inline-block float-left">Bedroom</p>
                        <p class="d-inline-block float-right">2</p>
                    </div>
                    <div class="col-12 mb-3">
                        <p class="d-inline-block float-left">Custom Added</p>
                        <p class="d-inline-block float-right">0</p>
                    </div>
                    <div class="col-12 ml-2 pt-2 mb-4 divider">
                        <h5 class="float-right mr-1">3</h5>
                        <p class="float-right mr-5">Total:</p>
                    </div>
                </div>
                <button class="w-50 m-auto submit" mat-raised-button>SEND</button>
                <div class="row cart-border-full ml-2 mt-4 mb-3 align-items-center pt-3 pb-3">
                    <div class="col">
                        <p class="text-center">Add More To List</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>