.list-wrapper {
    position: fixed;
    width: 45px;
    background: #afaaaa;
    top: 153px;
    left: 0;
    bottom: 0;
    transition: width 0.2s ease;
    padding: 15px 0;
    text-align: center;
    a.article-list {
        cursor: pointer;
        margin: 10px 0 15px;
        display: inline-block;
        color: #3C4858;
        i {
            padding: 7px;
            background: #eaeaea;
            border-radius: 3px;
            color: #000;
            font-weight: 400;
        }
        &:hover i,
        &:hover,
        &.active,
        &.active i,
        &.active p {
            color: #9c27b0;
            font-weight: 700;
        }
    }
    h4,
    a p {
        visibility: hidden;
        display: inline-block;
        opacity: 0;
        position: absolute;
        left: -999em;
        transition: all 0.3s ease;
    }
    &.full-width {
        width: 235px;
        padding: 15px;
        a.article-list {
            line-height: 15px;
            display: flex;
            align-items: center;
            width: 96%;
            background: #b7b7b7;
        }
        .add-custom-articles {
            width: 50%;
            height: auto;
            border-radius: 5px;
        }
        h4,
        a p {
            visibility: visible;
            position: relative;
            opacity: 1;
            left: 10px;
            transition: all 0.3s ease;
        }
    }
    .full-width-toggle {
        background: #fff;
        top: 50%;
        position: absolute;
        right: -13px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        font-size: 13px;
        line-height: 24px;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover {
            box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
        }
    }
}

.add-custom-articles {
    width: 28px;
    height: 30px;
    margin: 15px auto;
    display: block;
    transition: all 0.2s ease-in;
    padding: 0;
    min-width: 20px;
    .mat-button-wrapper {
        padding: 7px 0;
        display: block;
        line-height: 0;
    }
}

.mat-expansion-panel {
    background: transparent;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: inherit;
}

.mat-expansion-panel-header {
    height: auto;
    padding: 0;
}