:host {
    background: #D4D4D4;
    width: 100%;
    display: block;
    text-align: center;
    padding: 14px;
    position: fixed;
    top: 60px;
    border-bottom: 10px solid #E5E5E5;
}

.mat-form-field {
    width: 60%;
}