<button mat-raised-button *ngIf="prodCount == 0; else prodCountShow" class="w-100" (click)="addToCart()">Add To Cart</button>
<ng-template #prodCountShow>
    <div class="row input-addon no-gutters">
        <button mat-raised-button color="accent" (click)="add()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput type="text" name="proVal" #proVal="ngModel" [ngModel]="prodCount" required>
            </mat-form-field>

        </div>
        <button mat-raised-button color="accent" (click)="minus()"><i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>
</ng-template>