.input-addon {
    flex-wrap: inherit;
}

input {
    text-align: center;
}

button {
    background: #9c27b0;
    color: #fff;
    margin-bottom: 17px;
    width: 90px;
    padding: 0px;
    min-width: inherit;
    height: 36px;
}