.mt-60 {
    height: 90px;
}

.navbar,
.navbar.navbar-default {
    height: 60px;
    background-color: #4f7b73;
    color: #fff;
    box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}

i.fa {
    font-size: 20px;
    margin-left: 5px;
}

button.mat-menu-item {
    min-width: 190px;
    width: 90%;
}